<?xml version="1.0" encoding="UTF-8"?>
<widget id="it.atnis.ivano.agosta.cloud.fhc.app.from.git.%28mobilecf%29" version="1.0" width="320" height="480" start="index.html">
<title>Cloud FHC app from Git (apps.feedhenry.com)</title>
<description></description>
<author name="" email="" url=""></author>
<license></license>
</widget>
